body{
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
}

.container{
    width: 96%;
    padding: 0 2%;
    margin: 0 auto;
}
.info {
padding: 50px 0px;
background-color: #F45D48;
color: #fff;
}
.info .title {
    font-weight: 700;
    font-size: 4.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.info .description {
    line-height: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info .motto{
    font-weight: bold;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
}

.mapHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:#292929;
    position:relative;
}

.googlemap{
    width:100%;
}

.custom-shape-divider-bottom-1637245435 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1637245435 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 67px;
}

.custom-shape-divider-bottom-1637245435 .shape-fill {
    fill: #F45D48;
}

footer{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F45D48;
    color:#f8f5f2;;
    font-family: 'Sora', sans-serif;
}